body {
  @apply bg-background text-foreground font-sans uppercase tracking-widest lg:overflow-hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: theme("colors.scrollbar.DEFAULT") transparent;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent rounded-md;
}

::-webkit-scrollbar-thumb {
  @apply rounded-md transition-colors duration-300;
  background-color: theme("colors.scrollbar.DEFAULT");
}

::-webkit-scrollbar-thumb:hover {
  background-color: theme("colors.scrollbar.hover");
}
