@font-face {
  font-family: "Bebas Neue";
  src: url("../../fonts/bebasneuepro-thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../../fonts/bebasneuepro-light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../../fonts/bebasneuepro-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../../fonts/bebasneuepro-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
